.neumorphicButtonBorder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;

  border: none;
  cursor: pointer;
}
.neumorphicButtonInner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #222222;
  box-shadow: inset 1px 2px 4px 1px rgba(255, 255, 255, 0.09);
  color: rgb(188, 188, 188);
  font-size: 36px;
}
