.neumorphicButtonBorder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: linear-gradient(180deg, #a0a0a0 0%, rgba(217, 217, 217, 0) 100%);
  box-shadow: -4px -2px 4px -1px rgba(255, 255, 255, 0.04);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.13));
  border: none;
  cursor: pointer;
}
.neumorphicButtonInner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #222222;
  box-shadow: inset 1px 2px 4px 1px rgba(255, 255, 255, 0.09);
  color: rgb(188, 188, 188);
  font-size: 36px;
}

.neumorphicButtonBorder:hover {
  background: linear-gradient(180deg, #a0a0a0 0%, rgba(217, 217, 217, 0) 100%);
  box-shadow: -4px -2px 4px -1px rgba(255, 255, 255, 0.04);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.13));
}
