@import '@/styles/variables';

.homeButtonWithText {
  background-color: $main-background-dark;
  border-radius: $main-radius;
  width: 150px;
  height: 40px;
  cursor: pointer;
  border: 0.0625rem solid transparent;
  border-radius: 13px;
  background: linear-gradient(145deg, #181818, #141414);
  box-shadow: 10px 10px 20px #090909, -10px -10px 20px #232323;
  color: $main-text-dark;
}

.submitFormBtn {
  width: 300px;
  height: 50px;
  background: #222222;
  box-shadow: -6px -4px 4px rgba(55, 53, 53, 0.25),
    6px 7px 4px rgba(13, 13, 13, 0.26);
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 18px;
  letter-spacing: 2px;
  cursor: pointer;
}
