// Colors --------------------------------------------------

// Backgrounds -------------
$main-background-dark: #111;
$main-background-light: #fafafa;
$container-background-lighter-dark: #222;

// Text -------------------
$main-text-dark: #fff;
$main-text-light: #000;

// Font Sizes --------------------------------------------------
$font-size-title: 30px;
$font-size-normal: 16px;
$font-size-small: 14px;

// Radius --------------------------------------------------
$main-radius: 5px;
